<?xml version="1.0"?>
<!-- Venus Manipulator -->
<!--
Copied and modified from ROS2 control demo example -
https://github.com/ros-controls/ros2_control_demos/blob/master/ros2_control_demo_description/rrbot_description/urdf/rrbot.urdf.xacro
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="venus_manipulator">
  <xacro:arg name="prefix" default="" />

  <!-- Import Venus macro -->
  <xacro:include filename="$(find venus_description)/urdf/venus_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find venus_description)/gazebo/venus.materials.xacro" />

  <!-- Import Venus ros2_control description -->
  <!-- <xacro:include filename="$(find rrbot_description)/ros2_control/rrbot.ros2_control.xacro" /> -->

  <!-- Used for fixing robot -->
  <link name="world"/>
  <gazebo reference="world">
    <static>true</static>
  </gazebo>

  <xacro:venus parent="world" prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:venus>

  <!-- <xacro:rrbot_ros2_control name="RRBot" prefix="$(arg prefix)" /> -->

</robot>
